PORT=3004
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/codeassess_applications
AUTH_SERVICE_URL=http://localhost:3001
JOB_SERVICE_URL=http://localhost:3002
CANDIDATE_SERVICE_URL=http://localhost:3003

